.navbar {
    height: 140px;
    text-decoration: none;
    font-weight: 600;
    background-color: black;
}

.navbar-nav, #content {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li, #content{
    display: inline-block;
    float:none;
}

nav .navbar-nav li a, .navbar-brand, #pn {
    color: white !important;
    margin: 5px;
    transition: transform .2s;
}
.navbar-nav :hover {
    transform: scale(1.1);
}
.navbar-brand {
    font-size: 30px;
}

#top {
    height: 70px;
}

button {
    color: white;
    background-color: black;
    border: solid 2px white;
    width: 200px;
    height: 40px;
    margin: 10px;
}

#pn :hover {
    text-decoration: underline;
    text-decoration-color: white;
}
#content :hover {
    text-decoration: underline;
    text-decoration-color: white;
  }
